.portfolioContainer {
  @media (min-width: 768px) {
    margin: auto;
    padding: 0 15%;
  }
}

.portfolioRow {
  margin-top: 5%;
}

.textContainer {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.carouselContainer {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.smallCarousel {
  margin: 5%;
}
