// .navBar {
//   position: absolute;
//   top: 0;
//   left: 0;
//   z-index: 2;
// }

.logo {
  // font-family: "Yellowtail", cursive;
  font-family: "Pacifico", cursive;
  font-size: 2rem;
}

.middleLinks {
  display: inline-block;
  float: none;
  color: white;
}
