// .title {
//   color: #52616b;
//   font-size: 3rem;
//   position: relative;
//   bottom: 30%;
//   padding-bottom: 2%;
//   font-family: "Yellowtail", cursive;
//   text-align: center;
// }

.buttonRow {
  padding-left: 15%;
  padding-right: 15%;
  text-align: center;
}

.background {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.background::before {
  background: url("/moments_main_button.jpg");
  content: "";
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0;
  transition: opacity 0.5s, background 0s 1s;
}

.background p {
  color: #52616b;
  font-size: 3rem;
  position: relative;
  bottom: 30%;
  padding-bottom: 0%;
  font-family: "Yellowtail", cursive;
  text-align: center;
}

.momentsBackground::before {
  opacity: 0.75;
  transition: opacity 0.5s 0.5s;
  content: "";
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

.womenBackground::before {
  background: url("/women_main_button.jpg");
  opacity: 0.75;
  transition: background, opacity 0.5s 0.5s;
  content: "";
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}
