.buttonRow {
  padding-left: 15%;
  padding-right: 15%;
  text-align: center;
}

.buttonCol {
  padding-top: 5%;
  padding-bottom: 15%;
}

//
//
// BACKGROUND
//
//

.background {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.background::before {
  background: url("/moments_main_button.png");
  content: "";
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0;
  background-position: center center;
  background-repeat: no-repeat;
  transition: opacity 0.5s, background 0s 2s;
}

.background p {
  color: #52616b;
  font-size: 4rem;
  position: relative;
  bottom: 50px;
  font-family: "Yellowtail", cursive;
  text-align: center;
}

.background a {
  color: black;
  font-size: 2rem;
  transition: color 0.5s;
}

//
//
// MOMENTSBACKGROUND
//
//

.momentsBackground::before {
  opacity: 1;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-position: center center;
  background-repeat: no-repeat;
  transition: opacity 0.5s;
}

.momentsBackground p {
  color: white;
  transition: color 0.5s;
}

.momentsBackground a {
  color: white;
  transition: color 0.5s;
}

//
//
// WOMENSBACKGROUND
//
//

.womenBackground::before {
  background: url("/women_main_button.png");
  opacity: 1;
  content: "";
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-position: center center;
  background-repeat: no-repeat;
  transition: background, opacity 0.5s;
}

.womenBackground p {
  color: white;
  transition: color 0.5s;
}

.womenBackground a {
  color: white;
  transition: color 0.5s;
}
