.aboutContainer {
  padding: 0% 10%;
  @media (min-width: 40em) {
    padding: 0% 15%;
  }
}

.titleRow h1 {
  text-align: left;
  padding-bottom: 0.5em;
}

.aboutImage {
  max-width: 100%;
  @media (min-width: 60em) {
    max-width: 100%;
  }
}

.aboutText {
  font-size: 1.2rem;
  padding-top: 1rem;
}
